.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  z-index: 999;
  padding: 40px 20px 20px;
  @apply flex flex-col items-center;

  .card {
    width: 400px;
    @apply max-w-sm bg-secondary rounded-lg border shadow-md;

    .content {
      @apply p-5 flex flex-col items-center gap-6 justify-between h-full;
      div {
        @apply flex gap-2;
      }
    }
  }
}
